<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>ChatList</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous"></script>
    <style>
        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }
    </style>
</head>
<body>
<div class="dropdown">
    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
            onclick="toggleOn()">
        채팅방
    </button>
    <ul class="dropdown-menu">
        <li th:if="${#lists.isEmpty(room)}">
            <a class="dropdown-item">대화중인 상대 없음</a>
        </li>
        <li th:each="room : ${room}">
            <form th:action="@{/getRoom}" method="post" target="popupWindow">
                <input type="hidden" name="roomIdx" th:value="${room.roomIdx}">
                <button type="submit" class="dropdown-item" th:text="${room.roomName}"
                        onclick="submitForm(event)"></button>
            </form>

        </li>
    </ul>
</div>

</body>
<script>

    function submitForm(event) {
        event.preventDefault();
        var form = event.target.closest('form');

        var roomIdx = form.querySelector('input[name="roomIdx"]').value;

        var popupWindow = window.open("", "popupWindow", "width=500px,height=600px,scrollbars=no,location=no");
        form.setAttribute("action", "/getRoom?roomIdx=" + roomIdx);
        form.setAttribute("method", "post");
        form.setAttribute("target", "popupWindow");
        form.submit();
    }

</script>
</html>
