<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <title>ChatRoom</title>
</head>
<body>
<h1>index</h1>
<!--<a href="/login?userIdx=1">로그인</a>-->
<div>
    <h2 th:text="'로그인 아이디 : ' + ${session.user.userIdx}" th:if="${session.user.userIdx} != null"></h2>
    <h2 th:text="'로그인 아이디 : ' + ${session.user.userName}"></h2>
    <hr>
</div>
<form action="http://localhost:8080/login" method="get">
    <input type="text" name="userIdx">
    <button type="submit">로그인</button>
</form>
<a href="http://localhost:8080/login?userIdx=1">userIdx= 1 로그인</a><br>
<a href="http://localhost:8080/login?userIdx=2">userIdx= 2 로그인</a><br>
<form th:action="@{/getList}" method="post">
    <input type="hidden" name="userIdx" th:value="${session.user.userIdx}"/>
    <button type="submit">내채팅방</button>
</form>

<!--<form action="/login" method="get">
    <input type="text" name="userIdx">
    <button type="submit">로그인</button>
</form>-->
</body>
</html>