<!DOCTYPE html>
<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:replace="header_footer/header :: headerFragment"></th:block>

<head>
  <meta charset="UTF-8">
  <title>my class</title>


  <link rel="stylesheet" th:href="@{/css/store_css.css}">
  <style>
    .yellow {
      color : #FFA500;
    }

    .backgroundPurple {
      background-color: #9C91B3;
    }

    .center {
      text-align: center;
      align-content: center;
    }

    .padding_left_20 {
      padding-left: 5px;
    }

  </style>
</head>
<body>

<!--<td th:text="${storeVO}"></td>-->


<div class="container py-4 mt-5">
  <div class="row">
    <div class="col-1">
    </div>
    <h1 class="center">[[${session.vo.userClass}]] 강의장</h1>
    <br>
  </div>
  <br>
  <div class="row">
    <div class="col-1">
    </div>
    <div class="col-2">
      <p class="mb-2">이름</p>
    </div>
    <div class="col-2">
      <p class="mb-2">별점</p>
    </div>
    <div class="col-2">
      <p class="mb-2">좋아하는 음식</p>
    </div>
    <div class="col-2">
      <p class="mb-2">MBTI</p>
    </div>
    <div class="col-2">
      <p class="mb-2">성별</p>
    </div>
    <div class="col-1">
    </div>
  </div>


  <hr>
  <div th:each="memberVO : ${currentUserList}">
    <th:block th:if="${session.vo.userIdx != memberVO.userIdx}">
      <div class="row">
        <div class="col-1">
        </div>
        <div class="col-2">
          <p class="mb-2 purple2">[[${memberVO.getUserName()}]]</p>
        </div>
        <div class="col-2">
            <span class="yellow">★</span>
        </div>
        <div class="col-2">
          <p th:text="${memberVO.getUserLikeFood()}" class="mb-2"></p>
        </div>

        <div class="col-2">
          <div class="row">
            <div class="justify-content-start">
              <span style="display: inline-block; width: 40px" th:text="${memberVO.getUserMbti()}"
                    class="mb-2"></span>
            </div>
            <div class="justify-content-end">
              <span style="display: inline-block; width: 5px"></span>
              <span class="red">♥</span>
            </div>
          </div>
        </div>

        <div class="col-2">
          <p th:text="남자" th:if="${memberVO.getUserGender() == 0}" class="mb-2"></p>
          <p th:text="여자" th:if="${memberVO.getUserGender() != 0}" class="mb-2"></p>
        </div>
        <div class="col-1">
            <a href="#" style="background-color: #8E48C7; border: none;"
               class="btn btn-primary btn-sm chat-request-btn"
               th:id="|chat-request-btn-${memberVO.getUserId()}|"
               th:data-userIdx="${memberVO.getUserIdx()}"
               th:data-userName="${memberVO.getUserName()}"
               th:data-userId="${memberVO.getUserId()}"
               th:data-myId="${session.vo.userId}"
               th:data-myName="${session.vo.userName}"
               th:data-myIdx="${session.vo.userIdx}"
               th:data-senderId="${memberVO.getUserId()}"
               >매칭</a>
        </div>
      </div>
    </th:block>
  </div>
</div>




<th:block th:replace="header_footer/footer :: footerFragment"></th:block>

</body>
</html>