<!DOCTYPE html>
<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:replace="header_footer/header :: headerFragment"></th:block>

<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
<style>
    #main {
        /*min-height: 100vh;*/
        display: flex;
        align-items: center;
        justify-content: center;

        background: -webkit-gradient(linear, left bottom, right top, from(#E2E2E2), to(#E2E2E2));
        background: -webkit-linear-gradient(bottom left, #E2E2E2 0%, #E2E2E2 100%);
        background: -moz-linear-gradient(bottom left, #E2E2E2 0%, #E2E2E2 100%);
        background: -o-linear-gradient(bottom left, #E2E2E2 0%, #E2E2E2 100%);
        background: linear-gradient(to top right, #E2E2E2 0%, #E2E2E2 100%);
    }
    .input-form {
        max-width: 100%;

        margin-top: 80px;
        margin-bottom: 80px;
        padding: 32px;

        background: #fff;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
        box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15)
    }

    .yellow{
        color : #FFA500;
    }

    .iamport{
        background-color: #8E48C7;
        padding: 7px 10px;
        border: none;
        outline: none;
        border-radius: 10px;
    }
    .gray{
        color : gray;
    }
    .purple{
        color : #8E48C7;
    }
    .kakaoBtn2{
        background-color: #F7E600;
        padding: 7px 10px;
        border: none;
        outline: none;
        border-radius: 7px;
    }
</style>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>
<body>


<div class="text-center" id="main">
    <div class="input-form-backgroud">
        <form class="input-form">
            <h4 class="yellow"><strong>이니시스 결제가 완료되었습니다.</strong></h4><br>

            <hr>
            <div class="row">
                <div class="col text-left">이름 :</div>
                <div class="col text-right">
                    [[${inicisVO.bookingVO.userName}]]
                </div>
            </div>

            <div class="row">
                <div class="col text-left">맛집 :</div>
                <div class="col text-right">[[${inicisVO.bookingVO.storeName}]]</div>
            </div>

            <div class="row">
                <div class="col text-left">메뉴 :</div>
                <div class="col text-right">[[${inicisVO.name}]]</div>
            </div>

            <div class="row">
                <div class="col text-left">테이블 :</div>
                <div class="col text-right">
                    [[${inicisVO.bookingVO.tableNo}]]번
                </div>
            </div>

            <div class="row">
                <div class="col text-left">예약일 :</div>
                <div class="col text-right">
                    [[${inicisVO.bookingVO.bookingTime}]]
                </div>
            </div>


            <br>
            <div class="row gray">
                <div class="col text-left">주문번호 :</div>
                <div class="col text-right">[[${inicisVO.card_no}]]</div>
            </div>

            <div class="row">
                <div class="col text-left">결제방법 :</div>
                <div class="col text-right">CARD</div>
            </div>

            <div class="row">
                <div class="col text-left">결제일시 :</div>
                <div class="col text-right">
                    <div th:text="${#dates.format(inicisVO.pay_date, 'yyyy-MM-dd HH:mm:ss')}"></div>
                </div>
            </div>

            <hr>
            <div class="row mb-5 purple">
                <div class="col text-left">결제금액 :</div>
                <div class="col text-right">
                    <div data-th-text="${#numbers.formatInteger(inicisVO.bookingVO.price, 3, 'COMMA') + '원'}"></div>
                </div>
            </div>



            <button type="button" class="btn btn-warning purple3" onclick="starInsert()"
                    style="background-color: #9C91B3; border: none;">별점주러가기
            </button>


            <button type="button" onClick="openCancelModal()" class="iamport kakaoBtn2">결제 취소</button>

            <!-- 결제 취소 확인 모달 -->
            <div id="cancelModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="cancelModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="cancelModalLabel">환불</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            결제를 정말 취소하시겠습니까?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                            <button type="button" class="btn btn-danger" onClick="cancelPay()">확인</button>
                        </div>
                    </div>
                </div>
            </div>

            <input id="bookingIdx" type="hidden" th:value="${inicisVO.getBookingIdx()}">
            <input id="storeIdx" type="hidden" th:value="${inicisVO.getStoreIdx()}">
            <input id="inicisIdx" type="hidden" th:value="${inicisVO.getInicisIdx()}">








<script src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>
        </form>

        <br>
    </div>
</div>




<script src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>
<script>

    function openCancelModal() {
        $('#cancelModal').modal('show');
    }
    function cancelPay() {
        var msg = 'complete'

        let today = new Date();
        //현재 시간 확인
        console.log(today);
        console.log(dateFormat(today));

        var todayDate2 = dateFormat(today).split(' ')[0];
        var nowTime2 = dateFormat(today).split(' ')[1];

        console.log(dateFormat(today).split(' ')[0]);
        console.log(dateFormat(today).split(' ')[1]);

        var bookingIdx2 = $('#bookingIdx').val();
        var storeIdx2 = $('#storeIdx').val();
        console.log(todayDate2 + ' ' + nowTime2);
        console.log(bookingIdx2);

        $.ajax({
            url: "/pay/inicisCancel",
            type: "POST",
            contentType: "application/json; charset=UTF-8",
            data: JSON.stringify({
                "merchant_uid": '[[${inicisVO.merchant_uid}]]',  //실제 데이터로 변경하기
                "cancel_request_amount": [[${inicisVO.amount}]], // 환불금액
                "reason": "테스트 결제 환불", // 환불사유
                "token" : '[[${inicisVO.token}]]',
                "imp_uid" : '[[${inicisVO.imp_uid}]]',
                "nowDate" : dateFormat(today).split(' ')[0],
                "nowTime" : dateFormat(today).split(' ')[1],
                "bookingIdx" : $('#bookingIdx').val()
            }),
            /* dataType: "json",*/
            dataType: "json",
            async: false,
            success : function(data) {
                console.log("inicis 환불 성공!");
                console.log(data.a);
                if ( data.a == "환불성공") {
                    window.location.href = '/pay/payNothing?message=' + msg;
                    // location.href='/pay/payNothing?message=' + msg;
                }
                if (data.a == "시간지남") {
                    Swal.fire({
                        icon: 'error',
                        title: '결제 취소 불가',
                        text: '예약시간이 도래하여 결제 취소가 불가능합니다.'
                    })
                    $('#cancelModal').modal('hide');
                }
            }, error: function(xhr, status, error) {
                console.log("에러 발생");
                console.log(xhr);
            }
        });
        return false;
    }
</script>


<script>
    //접속시 현재 시간을 yyyy-mm-dd hh:mi:ss 형태로 뽑아주는 js 함수
    function dateFormat(date) {
        let month = date.getMonth() + 1;
        let day = date.getDate();
        let hour = date.getHours();
        let minute = date.getMinutes();
        let second = date.getSeconds();

        month = month >= 10 ? month : '0' + month;
        day = day >= 10 ? day : '0' + day;
        hour = hour >= 10 ? hour : '0' + hour;
        minute = minute >= 10 ? minute : '0' + minute;
        second = second >= 10 ? second : '0' + second;

        return date.getFullYear() + '-' + month + '-' + day + ' ' + hour + ':' + minute + ':' + second;
    }
    function starInsert() {
        //카카오 결제 후 별점 입력하러 가기 시간 제한 용도의 ajax

        let today = new Date();
        //현재 시간 확인
        console.log(today);
        console.log(dateFormat(today));

        var todayDate = dateFormat(today).split(' ')[0];
        var nowTime = dateFormat(today).split(' ')[1];

        console.log(dateFormat(today).split(' ')[0]);
        console.log(dateFormat(today).split(' ')[1]);

        var bookingIdx = $('#bookingIdx').val();
        var storeIdx = $('#storeIdx').val();
        var inicisIdx = $('#inicisIdx').val();
        console.log(todayDate + ' ' + nowTime);
        console.log(bookingIdx);


        $.ajax({
          url: "/store/starComment",
          type: "GET",
          data: { bookingIdx: bookingIdx,
            nowDate: todayDate,
            nowTime : nowTime },
          contextType: "application/json; charset=UTF-8",
          dataType : "json",
            async: false,
          success: function(data){
            console.log('통신결과 : ' + data.status);
            if (data.result >= 2 ) {
                location.href="/store/starComment?storeIdx=" + storeIdx
                    + '&bookingIdx=' + bookingIdx + "&inicisIdx=" + inicisIdx;
            } else {
                Swal.fire({
                    icon: 'error',
                    title: '별점 남기기 불가',
                    text: '예약시간 이전이므로 별점 남기기가 불가능합니다.'
                })
            }
          },
          error: function(error){
            console.log(error.responseText);
            alert("신규등록 error");  }
        });
        return false;
    }

</script>

<th:block th:replace="header_footer/footer :: footerFragment"></th:block>
</body>
</html>