<!DOCTYPE html>
<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:replace="header_footer/header :: headerFragment"></th:block>

<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
<style>
    .iamport{
        background-color: #8E48C7;
        padding: 7px 10px;
        border: none;
        outline: none;
        border-radius: 10px;
    }
</style>

</head>
<body>


이니시스 결제 성공
카카오success 화면참고하자
일단은 바로 별점주는 화면으로 넘어가게하자 (예약 시간 후로 시간제한도 걸어야해)

<h2>[[${inicisVO}]]</h2>


<br><button onClick="cancelPay()" class="iamport">iamport 환불</button>


<a class="btn btn-warning purple3"
   th:href="@{/store/starComment(storeIdx=${inicisVO.storeIdx})}">별점주러가기
</a>




<script>
    function cancelPay() {
        $.ajax({
            "url": "/pay/inicisCancel",
            "type": "POST",
            "contentType": "application/json",
            "data": JSON.stringify({
                "merchant_uid": '[[${inicisVO.merchant_uid}]]',  //실제 데이터로 변경하기
                "cancel_request_amount": [[${inicisVO.amount}]], // 환불금액
                "reason": "테스트 결제 환불", // 환불사유
                "token" : '[[${inicisVO.token}]]',
                "imp_uid" : '[[${inicisVO.imp_uid}]]'
            }),
            "dataType": "json",
            success : function(readyResponse) {
                console.log("inicis 환불 성공!");
                location.href = '/pay/kakaoPayRefund';
            },
            error: function(xhr, status, error) {
                console.log("에러 발생");
                console.log(xhr);
            }
        });
    }
</script>

<th:block th:replace="header_footer/footer :: footerFragment"></th:block>
</body>
</html>