<!DOCTYPE html>
<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:replace="header_footer/header :: headerFragment"></th:block>

<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<button onclick="iamport()">import</button>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>

<script>

  function iamport(){
    var IMP = window.IMP;
    //가맹점 식별코드
    IMP.init('imp40866160');
    IMP.request_pay({
      pg : 'html5_inicis',
      pay_method : 'card',
      merchant_uid : 'merchant_' + new Date().getTime(),
      name : '그냥하염없이눈물이나' , //결제창에서 보여질 이름
      amount : 1000, //실제 결제되는 가격
      buyer_email : 'kchj8177@naver.com',
      buyer_name : '김채정',
      buyer_tel : '010-1234-5678',
      buyer_addr : '서울 용산',
      buyer_postcode : '123-456'
    }, function(rsp) {
      console.log(rsp);
      if ( rsp.success ) {
        var msg = '결제가 완료되었습니다.';
        msg += '고유ID : ' + rsp.imp_uid;
        msg += '상점 거래ID : ' + rsp.merchant_uid;
        msg += '결제 금액 : ' + rsp.paid_amount;
        msg += '카드 승인번호 : ' + rsp.apply_num;
      } else {
        var msg = '결제에 실패하였습니다.';
        msg += '에러내용 : ' + rsp.error_msg;
      }
      alert(msg);
    });
  }
</script>



<th:block th:replace="header_footer/footer :: footerFragment"></th:block>

</body>
</html>