<!DOCTYPE html>
<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:replace="header_footer/header :: headerFragment"></th:block>

<head>
  <meta charset="UTF-8">
  <title>Insert title here</title>
  <link rel="stylesheet" th:href="@{/css/store_css.css}">
<style>
  .purple3{
    background-color : #601599;
    color: white;
    border : none;
  }
</style>
</head>
<body>


카카오페이 결제가 정상적으로 완료되었습니다.

결제일시:     [[${info.approved_at}]]<br/>
주문번호:    [[${info.partner_order_id}]]<br/>
상품명:    [[${info.item_name}]]<br/>
상품수량:    [[${info.quantity}]]<br/>
결제금액:    [[${info.amount.total}]]<br/>
결제방법:    [[${info.payment_method_type}]]<br/>


<h2>[[${info}]]</h2>



일단은 바로 별점주는 화면으로 넘어가게하자 (예약 시간 후로 시간제한도 걸어야해)

<a class="btn btn-warning purple3"
   th:href="@{/store/starComment}">별점주러가기</a>
이때 파라미터로 storeIdx 넘겨줘야한다!!!!!


<th:block th:replace="header_footer/footer :: footerFragment"></th:block>

</body>
</html>