<!DOCTYPE html>
<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:replace="header_footer/header :: headerFragment"></th:block>

<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <link rel="stylesheet" th:href="@{/css/store_css.css}">
<style>
    .kakaoBtn2{
        background-color: #F7E600;
        padding: 5px 10px;
        border: none;
        outline: none;
        border-radius: 10px;
    }
    .iamport{
        background-color: #8E48C7;
        padding: 5px 10px;
        border: none;
        outline: none;
        border-radius: 10px;
    }

</style>
</head>
<body>


<!--<div class = "container">
<h1 class="purple"> 결제화면 </h1>

<form method="post" action="/pay/kakaoPay">
    <button class="kakaoBtn">카카오페이 결제</button>
</form>
</div>-->


    <button class="kakaoBtn kakaoBtn2">카카오페이 결제</button>

    <form method="post" action="/pay/refund">
        <button class="kakaoBtn2">카카오페이 결제 취소</button>
    </form>

    <button onclick="iamport()" class="iamport">iamport</button>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    jQuery(function($){

        $(".kakaoBtn").click(function(){
            //alert("클릭");

            //let으로 정보 전달해주기

            $.ajax({
                type : 'get',
                url : '/pay/kakaoPay123',
                data : {
                    //보낼정보들 (일단 임의값 테스트)
                    total_amount : 54321,
                    item_name : '배고프다'
                },
                dataType : 'json',
                success : function(readyResponse){
                    console.log("성공!");
                    console.log(readyResponse);
                    console.log(readyResponse.next_redirect_pc_url);


                   // var tid = readyResponse.tid;
                    //console.log(readyResponse.respond.tid);

                   // var kakaoPayReadyVO = JSON.parse(readyResponse);
                    //console.log(kakaoPayReadyVO);
                    location.href = readyResponse.next_redirect_pc_url;
                },
                error: function(xhr, status, error) {
                    console.log("에러 발생");
                    console.log(xhr);
                }
            });


        });


    });

</script>


<!--아임포트-->
<script src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>

<script>

    function iamport(){
        var IMP = window.IMP;
        //가맹점 식별코드
        IMP.init('imp71427334');
        IMP.request_pay({
            pg : 'html5_inicis', /*kakaopay*/
            pay_method : 'card',
            merchant_uid : 'merchant_' + new Date().getTime(),
            name : 'tastemate결제중' , //결제창에서 보여질 이름
            amount : 12345, //실제 결제되는 가격
            buyer_email : 'iamport@siot.do',
            buyer_name : '싼쵸',
            buyer_tel : '010-1234-5678',
            buyer_addr : '동퇀',
            buyer_postcode : '123-456'
        }, function(rsp) {
            console.log(rsp);
            if ( rsp.success ) {
                var msg = '결제가 완료되었습니다.';
                msg += '고유ID : ' + rsp.imp_uid;
                msg += '상점 거래ID : ' + rsp.merchant_uid;
                msg += '결제 금액 : ' + rsp.paid_amount;
                msg += '카드 승인번호 : ' + rsp.apply_num;
            } else {
                var msg = '결제에 실패하였습니다.';
                msg += '에러내용 : ' + rsp.error_msg;
            }
            alert(msg);
        });
    }
</script>



<th:block th:replace="header_footer/footer :: footerFragment"></th:block>
</body>
</html>