<!DOCTYPE html>
<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:replace="header_footer/header :: headerFragment"></th:block>

<head>
    <meta charset="UTF-8">
    <title>my bookmark</title>


    <link rel="stylesheet" th:href="@{/css/store_css.css}">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</head>
<body>

<!--<td th:text="${storeVO}"></td>-->


<div class="container py-4 mt-5">
    <div class="row">
        <div class="col-lg-6">
            <div th:each="bookmarkVO : ${bookmarkList}">
                <h3 class="mb-2 purple2">
                    <i class="bi bi-bookmark-star"></i> [[${bookmarkVO.storeName}]]</h3>
                <p th:text="${bookmarkVO.storeVO.storeAddress}" class="mb-2"></p>
                <a th:href="@{/bookmark/delete(bookmarkIdx=${bookmarkVO.getBookmarkIdx()})}" style="background-color: #8E48C7; border: none; " class="btn btn-primary">삭제</a>
                <button type="button" onclick="bookingCheck(this.value)" th:value="${bookmarkVO.getStoreIdx()}" style="background-color: #9C91B3; border: none; color: white;" class="btn btn-warning reserve">예약하기</button>
                <hr>
                <input type="hidden" class="storeIdx" th:value="${bookmarkVO.getStoreIdx()}">
            </div>
        </div>

        <div class="col-lg-6">
            <div id="map" style="width:600px;height:450px;"></div><br>
        </div>
    </div>
</div>




<script type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=647ffaa97f099e851a11e20515ac5533"></script>
<script th:inline="javascript">
    /*<![CDATA[*/


    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
            center: new kakao.maps.LatLng(37.498697, 127.031650), // 지도의 중심좌표
            level: 5 // 지도의 확대 레벨
        };

    var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

    // 마커를 표시할 위치와 title 객체 배열입니다
    let bookmarkList = /*[[${bookmarkList}]]*/;


    var positions = new Array();

    for (var j = 0; j < /*[[${bookmarkList.size}]]*/; j ++) {
        positions.push({ title : bookmarkList[j].storeName,
            latlng: new kakao.maps.LatLng(bookmarkList[j].storeVO.storeLati, bookmarkList[j].storeVO.storeLongi)});
    }


    // 마커 이미지의 이미지 주소입니다
    var imageSrc = "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png";

    for (var i = 0; i < positions.length; i ++) {

        // 마커 이미지의 이미지 크기 입니다
        var imageSize = new kakao.maps.Size(24, 35);

        // 마커 이미지를 생성합니다
        var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize);

        // 마커를 생성합니다
        var marker = new kakao.maps.Marker({
            map: map, // 마커를 표시할 지도
            position: positions[i].latlng, // 마커를 표시할 위치
            title : positions[i].title, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
            image : markerImage // 마커 이미지
        });
    }



    /*]]>*/
</script>

<script>
    /* 예약하기 (이미 결제 완료되면 불가능하게) */
    // var storeIdx = $('.storeIdx').val();
    // var rtn = true;

    // $(document).ready(function () {
    //     $('.reserve').on('click', function () {
    function bookingCheck (storeIdx) {
        console.log("버튼 클릭 인식함!");
        // var storeIdx = $('.reserve').val();
        $.ajax({
            url: "/store/payCheckAjax",
            type: "POST",
            data: {storeIdx: storeIdx},
            contextType: "application/json; charset=UTF-8",
            dataType: "json",
            async: false,
            success: function (data) {
                console.log('payCheckAjax 성공 : ' + data.inicis);
                console.log('payCheckAjax 성공 : ' + data.kakao);

                if (data.inicis == 1) {
                    swal('', "matching이 진행 중이에요!", 'warning');
                    return;
                }
                if (data.kakao == 1) {
                    swal('', "matching이 진행 중이에요!", 'warning');
                    return;
                    ;
                }
                //alert("결제내역이 없어 이동합니다");
                location.href = "/booking/bookingInsert?storeIdx=" + storeIdx;

            },
            error: function (error) {
                console.log(error.responseText);
                alert("예약하기버튼 error");
            }
        });
    }


    //     });
    // });



</script>

<th:block th:replace="header_footer/footer :: footerFragment"></th:block>

</body>
</html>