<!--<html lagn="ko" xmlns:th="http://www.thymeleaf.org">-->
<!--&lt;!&ndash;footerFragment 선언&ndash;&gt;-->
<!--<div th:fragment="footerFragment">-->

<!--&lt;!&ndash; Footer &ndash;&gt;-->
<!--<footer class="page-footer font-small blue pt-4" style="background-color: #f8f9fa; border-top: 0.5px solid #dee2e6;">-->

<!--    &lt;!&ndash; Footer Links &ndash;&gt;-->
<!--    <div class="container text-center text-md-left mt-5">-->

<!--        &lt;!&ndash; Grid row &ndash;&gt;-->
<!--        <div class="row mt-3">-->

<!--            &lt;!&ndash; Grid column &ndash;&gt;-->
<!--            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">-->

<!--                &lt;!&ndash; Content &ndash;&gt;-->
<!--                <h6 class="text-uppercase font-weight-bold">TasteMate</h6>-->
<!--&lt;!&ndash;-->
<!--                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">-->
<!--&ndash;&gt;-->
<!--                <div>-->
<!--                <img id="tastemate" th:src="@{/img/tastemate.jpg}" style="width: 150px; height: 150px;"/>-->
<!--                </div><br>-->
<!--                <p>Find friends, enjoy food. This is the TasteMate community. Let's enjoy it together.</p>-->

<!--            </div>-->
<!--            &lt;!&ndash; Grid column &ndash;&gt;-->

<!--            &lt;!&ndash; Grid column &ndash;&gt;-->
<!--            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">-->

<!--                &lt;!&ndash; Links &ndash;&gt;-->
<!--                <h6 class="text-uppercase font-weight-bold">Products</h6>-->
<!--                <p>-->
<!--                    <a href="#!">커뮤니티</a>-->
<!--                </p>-->
<!--                <p>-->
<!--                    <a href="#!">맛집</a>-->
<!--                </p>-->
<!--                <p>-->
<!--                    <a href="#!">내강의장</a>-->
<!--                </p>-->
<!--                <p>-->
<!--                    <a href="#!">꿀팁</a>-->
<!--                </p>-->

<!--            </div>-->
<!--            &lt;!&ndash; Grid column &ndash;&gt;-->

<!--            &lt;!&ndash; Grid column &ndash;&gt;-->
<!--            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">-->

<!--                &lt;!&ndash; Links &ndash;&gt;-->
<!--                <h6 class="text-uppercase font-weight-bold">Useful links</h6>-->
<!--                <p>-->
<!--                    <a href="#!">Your Account</a>-->
<!--                </p>-->
<!--                <p>-->
<!--                    <a href="#!">Become an Affiliate</a>-->
<!--                </p>-->
<!--                <p>-->
<!--                    <a href="#!">Shipping Rates</a>-->
<!--                </p>-->
<!--                <p>-->
<!--                    <a href="#!">Help</a>-->
<!--                </p>-->

<!--            </div>-->
<!--            &lt;!&ndash; Grid column &ndash;&gt;-->

<!--            &lt;!&ndash; Grid column &ndash;&gt;-->
<!--            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">-->

<!--                &lt;!&ndash; Links &ndash;&gt;-->
<!--                <h6 class="text-uppercase font-weight-bold">Contact</h6>-->
<!--                <p>-->
<!--                    <i class="fas fa-home mr-1"></i>서울 강남구 테헤란로124 삼원타워</p>-->
<!--                <p>-->
<!--                    <i class="fas fa-envelope mr-1"></i> ITWILL@ITWILL.com</p>-->
<!--                <p>-->
<!--                    <i class="fas fa-phone mr-1"></i> 0507-1401-8061</p>-->
<!--                <p>-->
<!--                    <i class="fas fa-print mr-1"></i> 0507-1401-8061</p>-->

<!--            </div>-->
<!--            &lt;!&ndash; Grid column &ndash;&gt;-->

<!--        </div>-->
<!--        &lt;!&ndash; Grid row &ndash;&gt;-->

<!--    </div>-->
<!--    &lt;!&ndash; Footer Links &ndash;&gt;-->

<!--    <hr>-->

<!--    &lt;!&ndash; Call to action &ndash;&gt;-->
<!--    <ul class="list-unstyled list-inline text-center py-2">-->
<!--        <li class="list-inline-item">-->
<!--            <h5 class="mb-1">Register for free</h5>-->
<!--        </li>-->
<!--        <li class="list-inline-item">-->
<!--            <a href="#!" class="btn btn-outline-dark">Sign up!</a>-->
<!--        </li>-->
<!--    </ul>-->
<!--    &lt;!&ndash; Call to action &ndash;&gt;-->

<!--    <hr>-->

<!--    &lt;!&ndash; Social buttons &ndash;&gt;-->
<!--    <ul class="list-unstyled list-inline text-center">-->
<!--        <li class="list-inline-item">-->
<!--            <a class="btn-floating btn-fb mx-1" href="#!">-->
<!--                <i class="fab fa-facebook-f"> </i>-->
<!--            </a>-->
<!--        </li>-->
<!--        <li class="list-inline-item">-->
<!--            <a class="btn-floating btn-tw mx-1" href="#!">-->
<!--                <i class="fab fa-twitter"> </i>-->
<!--            </a>-->
<!--        </li>-->
<!--        <li class="list-inline-item">-->
<!--            <a class="btn-floating btn-gplus mx-1" href="#!">-->
<!--                <i class="fab fa-google-plus-g"> </i>-->
<!--            </a>-->
<!--        </li>-->
<!--        <li class="list-inline-item">-->
<!--            <a class="btn-floating btn-li mx-1" href="#!">-->
<!--                <i class="fab fa-linkedin-in"> </i>-->
<!--            </a>-->
<!--        </li>-->
<!--        <li class="list-inline-item">-->
<!--            <a class="btn-floating btn-dribbble mx-1" href="#!">-->
<!--                <i class="fab fa-dribbble"> </i>-->
<!--            </a>-->
<!--        </li>-->
<!--    </ul>-->
<!--    &lt;!&ndash; Social buttons &ndash;&gt;-->

<!--    <hr>-->

<!--    &lt;!&ndash; Copyright &ndash;&gt;-->
<!--    <div class="text-center py-3">-->
<!--        © 2023 TasteMate Inc.-->
<!--    </div>-->
<!--    &lt;!&ndash; Copyright &ndash;&gt;-->

<!--</footer>-->
<!--&lt;!&ndash; Footer &ndash;&gt;-->


<!--&lt;!&ndash; Optional JavaScript &ndash;&gt;-->
<!--&lt;!&ndash; jQuery first, then Popper.js, then Bootstrap JS &ndash;&gt;-->
<!--<script src="https://code.jquery.com/jquery-3.5.1.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>-->
<!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>-->
<!--</body>-->
<!--</div>-->
<!--</html>-->


<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
<!--footerFragment 선언-->
<div th:fragment="footerFragment">

    <!-- Footer -->
    <footer class="fs13 page-footer font-small blue pt-4" style="background-color: #f8f9fa; border-top: 0.5px solid #dee2e6; color :gray;">

        <!-- Footer Links -->
        <div class="container text-center text-md-left mt-5">

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

                </div>


                <!-- Grid column -->
                <div class="col-md-6mx-auto">

                    <h6 class="text-uppercase font-weight-bold text-center">TasteMate</h6>
                    <div>
                        <img id="tastemate" th:src="@{/img/TasteMate.jpg}" style="width: 120px; height: 120px;"/>
                    </div>

                </div>

                <!-- Grid column -->
                <div class="col-md-6 mx-auto">
                    <h6 class="text-uppercase fs13">Contact</h6>
                    <p>
                        <i class="fas fa-home mr-1"></i>서울 강남구 테헤란로124 삼원타워</p>
                    <p>
                        <i class="fas fa-envelope mr-1"></i> ITWILL@ITWILL.com</p>
                    <p>
                        <i class="fas fa-phone mr-1"></i> 0507-1401-8061</p>

                </div>


            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->

        <hr>

        <!-- Copyright -->
        <div class="text-center py-3">
            © 2023 TasteMate Inc.
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</div>
</body>


</html>
