<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <style>
  </style>
</head>
<body>

<!-- Header -->
<header class="header" th:fragment="common_header">
  <h1 class="header__logo">TasteMate</h1>
  <ul class="header__navigation">
    <li><a href="/store/list">맛집</a></li>
    <li><a href="#">내강의장</a></li>
    <li><a href="#">꿀팁</a></li>
    <li><a href="#">관리자모드</a></li>
    <li><a href="#">MY</a></li>
    <div class="ml-auto">
      <button class="btn btn-outline-dark ml-2" type="button">회원가입</button>
      <button class="btn btn-outline-dark ml-2" type="button">로그인</button>
    </div>



  </ul>
</header>
</body>
</html>