<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/logout_layout :: layout(~{::title}, ~{::main}, ~{::link}, ~{::script})}">
<head>
  <meta charset="UTF-8">
  <title>커뮤니티 게시판</title>
  <!-- include summernote css/js -->
  <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css"
        rel="stylesheet">
  <!--  부트스트랩 아이콘 cdn -->
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

</head>
<body>
<div class="container-fluid" style="height: 850px;" th:fragment="main">
  <div class="row" style="height: 100%;">
    <main class="col-md-12 ms-sm-auto col-lg-12 px-md-4">
      <div class="chartjs-size-monitor">
        <div class="chartjs-size-monitor-expand">
          <div class=""></div>
        </div>
        <div class="chartjs-size-monitor-shrink">
          <div class=""></div>
        </div>
      </div>
      <div
          class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">FreeTalk</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <i class="bi bi-funnel"></i>
            카테고리
          </button>
        </div>
      </div>

      <div class="row d-inline px-4 bg-light bg-gradient" style="height: 100%; width: 80%;">
        <div class="row border-primary" style="height: 100px; width: 100%">
          <div
              class="d-flex align-items-center justify-content-center col-md-3 col-lg-2 border-primary px-4"
              style="height: 100%;"><i class="bi bi-clock"></i></div>
          <div
              class="d-flex align-items-center justify-content-center col-md-3 col-lg-1 border-primary px-4"
              style="height: 100%;"><i class="bi bi-hand-thumbs-up-fill"></i></div>
          <div
              class="d-flex align-items-center justify-content-center col-md-3 col-lg-5 border-primary px-4"
              style="height: 100%;"></div>

          <div
              class="d-flex align-items-center justify-content-center col-md-3 col-lg-3 border-primary px-4"
              style="height: 100%;"><i class="bi bi-person"></i></div>
          <div
              class="d-flex align-items-center justify-content-center col-md-3 col-lg-1 border-primary px-4"
              style="height: 100%;"><i class="bi bi-eye"></i></div>
        </div>
      </div>
      <!-- 글 목록 시작 -->
      <div class="row d-inline px-4 bg-light bg-gradient" style="height: 800px; width: 100%;">
        <th:block th:each="board : ${boardList}">
          <div class="row border-primary" style="height: 40px; width: 100%"
               th:if="${#strings.equals(board.boardStatus, '삭제')}">
            <div
                style="display: flex; align-items: center; justify-content: space-between; width: 100%; height: 100%; background-color: #f8d7da;">
              <div
                  class="d-flex align-items-center justify-content-center col-md-3 col-lg-2 border-primary px-4"
                  style="height: 100%;">
                <span
                    th:text="${#dates.format(board.regDate, 'yyyy-MM-dd HH:mm')}">2012-05-12 10:53</span>
              </div>
              <div
                  class="d-flex align-items-center justify-content-center col-md-3 col-lg-1 border-primary px-4"
                  style="height: 100%;">
                <span th:text="${board.boardLike}">좋아요 개수</span>
              </div>
              <div
                  class="d-flex align-items-center justify-content-left col-md-3 col-lg-5 border-primary px-4"
                  style="height: 100%; color: #721c24;">
                게시물이 삭제되었습니다.
              </div>
              <div
                  class="d-flex align-items-center justify-content-center col-md-3 col-lg-3 border-primary px-4"
                  style="height: 100%;">
                <span th:text="${board.memberVO.userId}">아이디 입력 공간</span>
              </div>
              <div
                  class="d-flex align-items-center justify-content-center col-md-3 col-lg-1 border-primary px-4"
                  style="height: 100%;">
                <span th:text="${board.hits}"></span>
              </div>
            </div>
          </div>

          <div class="row border-primary" style="height: 100px; width: 100%"
               th:unless="${#strings.equals(board.boardStatus, '삭제')}">
            <div
                class="d-flex align-items-center justify-content-center col-md-3 col-lg-2 border-primary px-4"
                style="height: 100%;"><span
                th:text="${#dates.format(board.regDate, 'yyyy-MM-dd HH:mm')}">2012-05-12 10:53</span>
            </div>
            <div
                class="d-flex align-items-center justify-content-center col-md-3 col-lg-1 border-primary px-4"
                style="height: 100%;"><span th:text="${board.boardLike}">좋아요 개수</span></div>
            <div
                class="d-flex align-items-center justify-content-left col-md-3 col-lg-5 border-primary px-4"
                style="height: 100%;"><span th:text="${board.title}"
                                            th:onclick="|location.href='/board/read/${board.boardIdx}'|"
                                            style="cursor:pointer;">타이틀 제목</span> <span
                class="text-danger" style="margin-left: 10px" th:text="${board.commentCount}">1</span></div>
            <div
                class="d-flex align-items-center justify-content-center col-md-3 col-lg-3 border-primary px-4"
                style="height: 100%;"><span th:text="${board.memberVO.userId}">아이디 입력 공간</span>
            </div>
            <div
                class="d-flex align-items-center justify-content-center col-md-3 col-lg-1 border-primary px-4"
                style="height: 100%;"><span th:text="${board.hits}"></span></div>
          </div>
        </th:block>
        <div class="row">
          <div class="col-lg-12">
            <button class="btn btn-primary" th:onclick="|location.href='@{/board/write}'|"
                    th:text="글쓰기"></button>
          </div>
        </div>
        <!-- 페이지 네이션 -->
        <div class="row mt-10">
          <div class="col">
            <nav aria-label="Page navigation example">
              <ul class="pagination d-flex align-items-center justify-content-center">
                <th:block th:with="start = ${ph.getBeginPage()}, end = ${ph.getEndPage()}">
                  <li class="page-item"
                      th:classappend="${ph.isShowPrev() == true} ? '' : 'disabled'"><a
                      class="page-link" href="#"
                      th:href="@{|/board?page=${ph.beginPage - ph.NAV_SIZE}|}">Previous</a></li>
                  <li class="page-item"
                      th:with="start = ${ph.getBeginPage()}, end = ${ph.getEndPage()}"
                      th:each="pageButton : ${#numbers.sequence(start, end)}"
                      th:classappend="${pageButton == pageButtonStat.index} ? 'active' : ''">
                    <a class="page-link" href="#" th:href="@{|/board?page=${pageButton}|}"
                       th:text="${pageButton}">1</a>
                  </li>
                  <li class="page-item"
                      th:classappend="${ph.isShowNext() == true} ? '' : 'disabled'"><a
                      class="page-link" href="#"
                      th:href="@{|/board?page=${ph.endPage + ph.NAV_SIZE}|}">Next</a></li>
                </th:block>
              </ul>
            </nav>
          </div>
        </div>
        <!-- 페이지 네이션 -->
      </div>
    </main>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>
<script>
  $('#summernote').summernote({
    placeholder: '본문을 입력해주세요.',
    lang: 'ko-KR',
    tabsize: 2,
    height: 100
  });

  $()
</script>
</body>
</html>