<!DOCTYPE html>
<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="header_footer/header :: headerFragment"></th:block>
<head>
    <title>Reset Password</title>
</head>
<body>
<div class="container" style="margin-top: 100px; margin-bottom: 150px;">
    <div class="row mb-5">
        <div class="col-md-8 col-xl-6 text-center mx-auto">
            <h2 class="font-weight-bold">비밀번호 재설정</h2>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-md-6 col-xl-5">
            <div class="card">
                <div class="card-body text-center d-flex flex-column">
                    <div class="bs-icon-xl bs-icon-circle bs-icon-primary bs-icon my-4">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
                             viewBox="0 0 16 16"
                             class="bi bi-person">
                            <path
                                    d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"></path>
                        </svg>
                    </div>
                    <form id="resetPasswordForm" action="reset" method="post">
                        <div class="row">
                            <div style="margin-left: 10px;">
                                <label for="userId" style="float: left;">User ID:</label>
                                <br>
                                <input class="form-control" type="text" id="userId" name="userId" required
                                       style="margin-bottom: 10px; width: 300px;">
                            </div>
                        </div>
                        <div class="row">
                            <div style="margin-left: 10px;">
                                <label for="userEmail" style="float: left;">User Email:</label>
                                <br>
                                <input class="form-control" type="email" id="userEmail" name="userEmail" required
                                       style="margin-bottom: 10px; width: 300px;">
                                <div id="email_warning" class="col-md-6 mb-3" style="text-align: center"
                                     hidden="hidden">
                                    <span></span>
                                </div>
                            </div>
                            <button class="btn btn-outline-primary" type="button" id="checkEmail"
                                    style="height: 38px; margin-top: 32px; margin-left: 20px;">인증번호
                            </button>
                        </div>
                        <div class="row" style="margin-bottom: 20px;">
                            <div style="margin-left: 10px;">
                                <label for="emailconfirm" id="emailconfirmTxt" style="float: left;">인증번호를 입력해주세요</label>
                                <br>
                                <input type="text" class="form-control" id="emailconfirm" style="width: 300px;">
                            </div>
                            <div id="auth_warning" class="col-md-6 mb-3" style="text-align: center"
                                 hidden="hidden">
                                <span></span>
                            </div>
                        </div>
                        <button type="submit" class="btn" style="background-color: #8E48C7; color: white;"
                                onclick="return authCheck()">
                            비밀번호 재설정
                        </button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    emconfirmchk = false;

    $("#checkEmail").click(sendEmail);

    function sendEmail() {
        $.ajax({
            type: "POST",
            url: "/member/mailConfirm",
            data: {
                "email": $('#userEmail').val()
            },
            success: function (data) {
                Swal.fire({
                    icon: 'success',
                    title: '인증번호 전송완료',
                    text: '이메일로 전송된 인증번호를 입력해주세요.',
                })
                console.log("data : " + data);
                chkEmailConfirm(data);
            }
        })
    }

    // 이메일 인증번호 체크 함수
    function chkEmailConfirm(data) {
        $('#emailconfirm').on("keyup", function () {
            if (data != $('#emailconfirm').val()) { //
                emconfirmchk = false;
                $('#auth_warning').removeAttr('hidden');
                $('#auth_warning').html('<b style="font-size: 14px; color: red">[인증번호가 잘못되었습니다.]</b>');
            } else { // 아니면 중복아님
                emconfirmchk = true;
                $('#auth_warning').removeAttr('hidden');
                $('#auth_warning').html('<b style="font-size: 14px; color: blue">[인증번호가 일치합니다.]</b>');
            }
        })

    }

    function authCheck() {
        if (emconfirmchk === false) {
            alert('이메일 인증을 해주세요.');
            return false;
        }
    }




</script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="sweetalert2.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<th:block th:replace="header_footer/footer :: footerFragment"></th:block>
</body>
</html>
