<!DOCTYPE html>
<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:replace="header_footer/header :: headerFragment"></th:block>

<head>
    <meta charset="UTF-8">
    <title>my class</title>


    <link rel="stylesheet" th:href="@{/css/store_css.css}">

</head>
<body>

<!--<td th:text="${storeVO}"></td>-->


<div class="container py-4 mt-5">
    <div class="row">
        <h1>[[${classList.get(0).getUserClass}]] 강의장</h1>
        <br>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-2">
            <p class="mb-2">이름</p>
        </div>
        <div class="col-lg-2">
            <p class="mb-2">좋아하는 음식</p>
        </div>
        <div class="col-lg-2">
            <p class="mb-2">MBTI</p>
        </div>
        <div class="col-lg-2">
            <p class="mb-2">성별</p>
        </div>
        <div class="col-lg-2">
        </div>

    </div>
    <hr>
    <div th:each="memberVO : ${classList}">
        <div class="row">
            <div class="col-lg-2">
                <p th:text="${memberVO.getUserProfile()}" class="mb-2"></p>
            </div>
            <div class="col-lg-2">
                <p class="mb-2 purple2">[[${memberVO.getUserName()}]]</p>
            </div>
            <div class="col-lg-2">
                <p th:text="${memberVO.getUserLikeFood()}" class="mb-2"></p>
            </div>
            <div class="col-lg-2">
                <p th:text="${memberVO.getUserMbti()}" class="mb-2"></p>
            </div>
            <div class="col-lg-2">
                <p th:text="남자" th:if="${memberVO.getUserGender() == 0}" class="mb-2"></p>
                <p th:text="여자" th:if="${memberVO.getUserGender() != 0}" class="mb-2"></p>
            </div>
            <div class="col-lg-2">
                <a href="#" class="btn btn-primary btn-sm">수정</a>
                <a href="#" class="btn btn-warning btn-sm">삭제</a>
            </div>
        </div>

    </div>
</div>




<th:block th:replace="header_footer/footer :: footerFragment"></th:block>

</body>
</html>