<!DOCTYPE html>
<html
  lagn="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <th:block th:replace="header_footer/header :: headerFragment"></th:block>

<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <style>
    .img_size{
      width: 2500px;
      /*height: 400px;*/
    }
    .img_size2{
      width: 400px;
      height: 300px;
    }
    .yellow {
      color : #FFA500;
    }
  </style>

</head>
<body>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <!-- 추가적인 슬라이드들을 필요한 만큼 반복해서 추가합니다 -->
  </ol>

  <!-- Slides -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img th:src="@{/img/suksuk.png}" class="img-fluid img_size" onclick="javascript:void(window.open('https://www.itwill.co.kr','wow','width=1000, height=1000'))"/>
    </div>
    <div class="carousel-item">
      <img th:src="@{/img/suksuk2.png}" class="img-fluid img_size" />
    </div>
    <div class="carousel-item">
      <img th:src="@{/img/suksuk3.png}" class="img-fluid img_size" onclick="javascript:void(window.open('https://www.16personalities.com/ko/%EB%AC%B4%EB%A3%8C-%EC%84%B1%EA%B2%A9-%EC%9C%A0%ED%98%95-%EA%B2%80%EC%82%AC','wow','width=1000, height=1000'))"/>
    </div>
    <!-- 추가적인 슬라이드들을 필요한 만큼 반복해서 추가합니다 -->
  </div>

  <!-- Controls -->
  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">이전</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">다음</span>
  </a>
</div>


<br><br>

<!--인기 맛집과 꿀팁 게시물-->
<div class="container">
<div class="row mb-2">
  <div class="col-md-6">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-primary">맛집</strong>
        <h3 class="mb-0" th:text="${storeVO.storeName}"></h3>
        <span class="yellow" th:text="'★★★★★'" th:if="${storeVO.starVO[0].storeStar gt 4 && storeVO.starVO[0].storeStar le 5}"></span>
        <span class="yellow" th:text="'★★★★'" th:if="${storeVO.starVO[0].storeStar gt 3 && storeVO.starVO[0].storeStar le 4}"></span>
        <span class="yellow" th:text="'★★★'" th:if="${storeVO.starVO[0].storeStar gt 2 && storeVO.starVO[0].storeStar le 3}"></span>
        <span class="yellow" th:text="'★★'" th:if="${storeVO.starVO[0].storeStar gt 1 && storeVO.starVO[0].storeStar le 2}"></span>
        <span class="yellow" th:text="'★'" th:if="${storeVO.starVO[0].storeStar le 1}"></span>
        <p class="card-text mb-auto"></p>
        <p class="card-text mb-auto" th:text="${storeVO.storeAddress}"></p>
        <a th:href="@{/store/get(storeIdx= ${storeVO.storeIdx})}" class="stretched-link">맛집 상세보기</a>
      </div>
      <div class="col-auto d-none d-lg-block">
        <img th:src="@{|/store/${storeVO.filename}|}" class="bd-placeholder-img" width="200" height="250"/>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-success">꿀팁</strong>
        <h3 class="mb-0" th:text="${storeVO.storeName}"></h3>
        <span class="yellow" th:text="'★★★★★'" th:if="${storeVO.starVO[0].storeStar gt 4 && storeVO.starVO[0].storeStar le 5}"></span>
        <span class="yellow" th:text="'★★★★'" th:if="${storeVO.starVO[0].storeStar gt 3 && storeVO.starVO[0].storeStar le 4}"></span>
        <span class="yellow" th:text="'★★★'" th:if="${storeVO.starVO[0].storeStar gt 2 && storeVO.starVO[0].storeStar le 3}"></span>
        <span class="yellow" th:text="'★★'" th:if="${storeVO.starVO[0].storeStar gt 1 && storeVO.starVO[0].storeStar le 2}"></span>
        <span class="yellow" th:text="'★'" th:if="${storeVO.starVO[0].storeStar le 1}"></span>
        <p class="card-text mb-auto"></p>
        <p class="card-text mb-auto" th:text="${storeVO.storeAddress}"></p>
        <a th:href="@{/store/get(storeIdx= ${storeVO.storeIdx})}" class="stretched-link">꿀팁 상세보기</a>
      </div>
      <div class="col-auto d-none d-lg-block">
        <img th:src="@{|/store/${storeVO.filename}|}" class="bd-placeholder-img" width="200" height="250"/>
      </div>
    </div>
  </div>
</div>

<div class="row g-5">
  <div class="col-md-8">
    <article class="blog-post">
      <h3>공지사항</h3>
      <table class="table">
        <thead>
        <tr>
          <th>관리자 계정으로</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>작성한 게시판 게시물을</td>
        </tr>
        <tr>
          <td>공지사항으로 설정해서</td>
        </tr>
        <tr>
          <td>메인페이지에서 보여주는거</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td>어떨까요..? :)</td>
        </tr>
        </tfoot>
      </table>

    </article>


  </div>

  <div class="col-md-4">
    <div class="position-sticky" style="top: 2rem;">
      <div class="p-4 mb-3 bg-light rounded">
        <h4 class="fst-italic">Links</h4>
        <ol class="list-unstyled">
          <li><a href="#">1. 우리 GitHub</a></li>
          <li><a href="#">2. 아이티윌 Instagram</a></li>
        </ol>
      </div>

    </div>
  </div>
</div>
</div>




<script th:inline="javascript">
  $(document).ready(function () {
    $("#myCarousel").carousel({
      interval: 1500, // 이동 간격을 밀리초 단위로 설정합니다 (기본값은 5000 입니다)
    });
    let memberVO = [[${ session.vo }]];
    if (memberVO != null) {
      let loginUser = memberVO.userId;
      let socket = null;
      let ws = null;
      connect();
      ws.onmessage = function (event) {
        event.preventDefault();
        let message = JSON.parse(event.data);
        if (message.type === 'invite') {
          let toast = message.toast;
          console.log("toast : " + toast);
          $('.invite-msg').html(toast);

          // Bootstrap Toast 활성화
          $('.toast').toast('show');
        }
      };

      ws.onclose = function (event) {
        console.log("close");
      }

      $('.chat-btn').on('click', function (event) {
        event.preventDefault();
        let senderId = $(this).attr("data-senderId");
        let inviteeId = $(this).attr("data-inviteeId");

        $.ajax({
          url: "/chat/createRoom",
          contentType: "application/json; charset=utf-8",
          type: "POST",
          async: false,
          data: JSON.stringify({
            roomName: senderId + "님과 " + inviteeId + "님의 채팅방",
            senderId: senderId
          }),
          dataType: "json",
          success: function (data) {
            console.log(data);
            let result = data.result;
            if (result === "success") {
              alert("방을 생성했습니다.");
              let chatRoom = JSON.stringify(data.chatRoom);
              let inviteMessage = {
                type: 'invite',
                senderId: senderId,
                inviteeId: inviteeId,
                url: `http://192.168.1.14:8080/chat/room/${chatRoom.roomId}`,
                toast: `<div role="alert" aria-live="assertive" aria-atomic="true" class="toast" data-bs-autohide="false">
            <div class="toast-header">
              <img src="..." class="rounded me-2" alt="...">
              <strong class="me-auto">Bootstrap</strong>
              <small>11 mins ago</small>
              <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
              Hello, world! This is a toast message.
            </div>
          </div>`
              };

              socket.send(JSON.stringify(inviteMessage));

            } else if (data.result === "alreadyExist") {
              alert("이미 초대 메시지를 보냈습니다.");
            }
          },
          error: function (e) {
            console.log(e);
          }
        });
      });

      function connect() {
        ws = new WebSocket("ws://192.168.1.14:8080/inviteEcho?userId=" + loginUser);
        socket = ws;

        ws.onopen = function () {
          console.log("open");
        };


        ws.onclose = function (event) {
          console.log("close");
          setTimeout(function () {
            connect();
          }, 1000);
        }
      }
    }
  });
</script>


<th:block th:replace="header_footer/footer :: footerFragment"></th:block>
</body>
</html>