<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tastemate.mapper.MemberDAO">
    <select id="login" resultType="MemberVO" parameterType="MemberVO">
        SELECT * FROM MEMBER WHERE USER_IDX = #{userIdx}
    </select>
</mapper>
