<!DOCTYPE html>
<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:replace="header_footer/header :: headerFragment"></th:block>

<head>
  <meta charset="UTF-8">
  <title>my bookmark</title>


  <link rel="stylesheet" th:href="@{/css/store_css.css}">

<style>

  .img-wrapper {
    position: relative;
    width: 400px;
    height: 400px;
  }
  .img-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(50, 50);
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: auto;
  }

  .imgText {
    width: 400px;
  }

  /* Additional spacing styles */
  .mt-4 {
    margin-top: 1.5rem !important;
  }
  .mb-4 {
    margin-bottom: 1.5rem !important;
  }
  .pt-4 {
    padding-top: 1.5rem !important;
  }
  .pb-4 {
    padding-bottom: 1.5rem !important;
  }

  .padding_50 {
    padding-top: 50px;
    padding-left: 15px;
  }

  .kakaoBtn2{
    background-color: #F7E600;
    padding: 5px 10px;
    border: none;
    outline: none;
    border-radius: 10px;
  }
  .iamport{
    background-color: #8E48C7;
    padding: 5px 10px;
    border: none;
    outline: none;
    border-radius: 10px;
  }
</style>
</head>
<body>
<!--<p th:text="${bookingIdx}"></p>-->
<!--<p th:text="${bookingVO}"></p>-->

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <!-- Left Column: Photos -->
      <div class="imgText">
      <div class="img-wrapper">
      <img th:src="@{|/store/${storeVO.filename}|}" class="img-fluid img_size mb-4"/>
      </div>
      <h2 style="text-align: center" th:text="${storeVO.storeName}"></h2>
      </div>
    </div>
    <div class="col-md-6">
      <!-- Right Column: Reservation Information -->
      <h2>Reservation Information</h2>
      <ul class="list-group">
        <li class="list-group-item">
          <strong>예약자 이름:</strong> [[${bookingVO.userName}]]
        </li>
        <li class="list-group-item">
          <strong>예약 메뉴:</strong> [[${bookingVO.foodName}]]
        </li>
        <li class="list-group-item">
          <strong>예약일자:</strong> [[${bookingVO.bookingDate}]]
        </li>
        <li class="list-group-item">
          <strong>예약한 시간:</strong> [[${bookingVO.bookingTime}]]
        </li>
        <li class="list-group-item">
          <strong>결제 금액:</strong> [[${bookingVO.price}]]
        </li>
      </ul>
      <div class="row padding_50">
        <button class="btn btn-primary" type="submit" style="background-color: #8E48C7; border: none; border-radius: 10%;">결제하기</button>
          <button class="btn btn-success" th:href="@{/store/list}" style="background-color: #9C91B3; border: none; border-radius: 10%;">우야노</button>
      </div>

      <div class="row padding_50">
        <!--결제!!!!!!!!!!!!!!!!-->
        <button class="kakaoBtn kakaoBtn2">카카오페이 결제</button>

        <form method="post" action="/pay/refund">
          <button class="kakaoBtn2">카카오페이 결제 취소</button>
        </form>

        <button onclick="iamport()" class="iamport">iamport 결제</button>
        <button onClick="cancelPay()" class="iamport">iamport 환불</button>
      </div>



    </div>
</div>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  jQuery(function($){

    $(".kakaoBtn").click(function(){
      //alert("클릭");

      //let으로 정보 전달해주기

      $.ajax({
        type : 'get',
        url : '/pay/kakaoPay123',
        data : {
          //보낼정보들 (일단 임의값 테스트)
          total_amount : 54321,         /*[[${bookingVO.price}]]*/
          item_name : '[[${bookingVO.foodName}]]'
        },
        dataType : 'json',
        success : function(readyResponse){
          console.log("성공!");
          console.log(readyResponse);
          console.log(readyResponse.next_redirect_pc_url);

          // var tid = readyResponse.tid;
          //console.log(readyResponse.respond.tid);

          // var kakaoPayReadyVO = JSON.parse(readyResponse);
          //console.log(kakaoPayReadyVO);
          location.href = readyResponse.next_redirect_pc_url;
        },
        error: function(xhr, status, error) {
          console.log("에러 발생");
          console.log(xhr);
        }
      });


    });


  });

</script>


<!--아임포트-->
<script src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>

<script>

  // 카드결제
  function iamport(){
    var IMP = window.IMP;
    //가맹점 식별코드
    IMP.init('imp71427334');
    IMP.request_pay({
      //name과 amout만있어도 결제 진행가능
      pg : 'html5_inicis', /*kakaopay*/
      pay_method : 'card',
      merchant_uid : 'merchant_' + new Date().getTime(),
      name : '[[${bookingVO.foodName}]]' , //결제창에서 보여질 이름
      amount : 123, //실제 결제되는 가격
      buyer_email : 'gaeun1811@naver.com',
      buyer_name : '싼쵸보고싶다',
      buyer_tel : '010-1234-5678',
      buyer_addr : '동탄동탄동탄',
      buyer_postcode : '123-456',

    }, function(rsp) {
      console.log("??"+rsp);
      if (rsp.success) {
        var msg = '결제가 완료되었습니다.';

        var result = {
          "imp_uid": rsp.imp_uid,
          "merchant_uid": rsp.merchant_uid,
          "buyer_email": 'gaeun1811@naver.com',
          "pay_date": new Date().getTime(),
          "amount": rsp.paid_amount,
          "card_no": rsp.apply_num,
          "refund": 'payed'
        };

        console.log("결제성공 " + msg);

        $.ajax({
          url: '/pay/inicisComplete',
          type: 'POST',
          data: JSON.stringify(result,
                  ['imp_uid', 'merchant_uid', 'buyer_email',
                    'pay_date', 'amount', 'card_no', 'refund']),
          contentType: 'application/json;charset=utf-8',
          dataType: 'json', //서버에서 보내줄 데이터 타입
          success: function (res) {

            if (res == 1) {
              console.log("추가성공");
              //페이지이동!!! location.replace('');
            } else {
              console.log("Insert Fail!!!");
            }
          },
          error: function () {
            console.log("Insert ajax 통신 실패!!!");
          }
        })
      }

      else {
        var msg = '결제에 실패하였습니다.';
        msg += '에러내용 : ' + rsp.error_msg;
      }
      console.log(msg);
    });
  }






  function cancelPay() {
    $.ajax({

      "url": "/pay/inicisCancel",
      "type": "POST",
      "contentType": "application/json",
      "data": JSON.stringify({
        "merchant_uid": "merchant_1686295852827",  //실제 데이터로 변경하기
        "cancel_request_amount": 123, // 환불금액
        "reason": "테스트 결제 환불" // 환불사유
      }),
      "dataType": "json"
    });
  }





</script>



<th:block th:replace="header_footer/footer :: footerFragment"></th:block>

</body>
</html>