<!DOCTYPE html>
<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:replace="header_footer/header :: headerFragment"></th:block>


<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/store_css.css}">
  <style>
    body {
      min-height: 100vh;
      background-color: #E9DFED;
      /*background: -webkit-gradient(linear, left bottom, right top, from(#E9DFED), to(#E9DFED));*/
      /*background: -webkit-linear-gradient(bottom left, #E9DFED 0%, #E9DFED 100%);*/
      /*background: -moz-linear-gradient(bottom left, #E9DFED 0%, #E9DFED 100%);*/
      /*background: -o-linear-gradient(bottom left, #E9DFED 0%, #E9DFED 100%);*/
      /*background: linear-gradient(to top right, #E9DFED 0%, #E9DFED 100%);*/
    }

    .input-form {
      max-width: 680px;

      margin-top: 80px;
      margin-bottom: 80px;
      padding: 32px;

      background: #fff;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
      box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15)
    }
    .purple2 {
      color : #601599;
    }

    [type="radio"] {
      vertical-align: middle;
      appearance: none;
      border: max(2px, 0.1em) solid gray;
      border-radius: 50%;
      width: 1.25em;
      height: 1.25em;
      transition: border 0.5s ease-in-out;
    }
    [type="radio"]:checked {
      border: 0.4em solid #9C91B3;
    }

    [type="radio"]:focus-visible {
      outline-offset: max(2px, 0.1em);
      outline: max(2px, 0.1em) dotted #9C91B3;
    }

    [type="radio"]:hover {
      box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
      cursor: pointer;
    }

    select option:disabled {
      color: lightgray;
      text-decoration: line-through;
    }


  </style>
</head>
<body>

<!--userIdx(세션 연동)
storeName,
category1(옵션),
storeAddress,
storeLati,
storeLongi,
phoneNumber,
oriFilename-->

<div class="container">
  <div class="input-form-backgroud row">
    <div class="input-form col-md-12 mx-auto">
      <h3 class="mb-3 mb-5 purple2 text-center">예약하기</h3>
      <form th:action="@{/booking/bookingInsert}" method="post" enctype="multipart/form-data">
        <div class="row">

          <div class="col-md-8 mb-3">
            <label for="storeName">맛집 이름</label>
            <input type="text" class="form-control" id="storeName" name="storeName" th:value="${storeVO.storeName}" th:readonly="true">
            <input type="hidden" class="form-control" id="storeIdx" name="storeIdx" th:value="${storeVO.storeIdx}" th:readonly="true">
          </div>

          <!-- userIdx 세션에서 넣어줘. 등록한 사람만 수정, 삭제할 수 있게 insert 해야함 -->
          <div class="col-md-4 mb-3">
            <label for="userIdx">예약자 성명</label>
              <input type="text" class="form-control" id="userName" name="userName" th:value="${userName}" readonly>
              <input type="hidden" class="form-control" id="userIdx" name="userIdx" th:value="${session.vo.getUserIdx()}">
            <input type="hidden" class="form-control" id="userId" name="userId" th:value="${userId}">
          </div>

        </div>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="selectDate">예약일자</label>
            <div class="form-group">

              <select class="form-control" id="selectDate" name="selectDate" onchange="typeFn();" required>
                <option value="" selected disabled>예약하실 일자를 선택해주세요</option>
                <option id="date1" name="date1" value=""></option>
                <option id="date2" name="date2" value=""></option>
                <option id="date3" name="date3" value=""></option>
                <option id="date4" name="date4" value=""></option>
                <option id="date5" name="date5" value=""></option>
              </select>
<!--              <input type="datetime-local" id="date" name="date">-->
            </div>
          </div>

          <div class="col-md-6 mb-3">
            <label for="time">예약시간</label>
            <div class="form-group">
              <select class="form-control" id="time" name="time" onchange="typeTime();" required>
                <option value="" selected disabled>예약하실 시간을 선택해주세요</option>
                <option id="time1" name="time1" value="12:30:00">12:30</option>
                <option id="time2" name="time2" value="12:45:00">12:45</option>
                <option id="time3" name="time3" value="13:00:00">13:00</option>
                <option id="time4" name="time4" value="13:15:00">13:15</option>
                <option id="time5" name="time5" value="13:30:00">13:30</option>
                <option id="time6" name="time6" value="13:45:00">13:45</option>
                <option id="time7" name="time7" value="14:00:00">14:00</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="category1">메뉴</label>
          <div class="mb-3">
            <div class="form-group">

              <select class="form-control" id="category1" name="category1" required>
                <option value="" selected disabled>메뉴를 선택해주세요</option>
                <div th:each="menu : ${storeVO.menuVO}">
                <option th:value="${menu.menuIdx} + '/' + ${menu.foodName} + '/' + ${menu.price}" th:text="${menu.foodName} + ', ' + ${menu.price}"></option>
                </div>
              </select>
            </div>
          </div>
        </div>


        <div class="mb-3">
          <label for="tableNo">테이블 번호</label>
          <div class="mb-3">
            <div class="form-group">
              <select class="form-control" id="tableNo" name="tableNo" required>
                <option value="" selected disabled>번호를 선택해주세요</option>
                <option id="table1" value="1">1</option>
                <option id="table2" value="2">2</option>
                <option id="table3" value="3">3</option>
              </select>
            </div>
          </div>
        </div>
        <br>

          <div class="mb-3">
<!--              <label for="onsitePayment">현장결제</label>-->
              <div class="mb-3">
                  <div class="form-group">
                    <input type="hidden" name="onsitePayment" th:value="0">
                  </div>
              </div>
          </div>

        <div class="text-center mt-5 mb-3">
        <button class="btn btn-primary" type="submit" style="background-color: #8E48C7; border: none; border-radius: 10%;">결제하기</button>
        <a class="btn btn-success" th:href="@{/store/list}" style="background-color: #9C91B3; border: none; border-radius: 10%;">목록으로</a>
        </div>

      </form>
    </div>
  </div>
</div>

<script>

  function dateAdd(aDay) {
    var pDay = 0; // 주말 추가일 계산용
    var date = new Date(); // 오늘 대입
    var nowWeek = date.getDay(); // 현재 요일 (0~6)

    // document.write(nowWeek);
    if (nowWeek == 6) {
      date.setDate(date.getDate() + 1); // 오늘이 토요일이면 1일 추가
    }
    nowWeek = date.getDay(); // 변경 요일 확인
    pDay = Math.floor((nowWeek + aDay -1 ) / 5 ) * 2; //주말 추가일 계산
    date.setDate(date.getDate() + aDay + pDay); // 최종 날짜 확인용


    // document.write("오늘 날짜 : " + (date.toString() + "<br>"));


    var y1 = date.getFullYear();

    var m1 = date.getMonth() + 1;
    var d1 = date.getDate();

    if (d1 < new Date().getDate()) {
      m1 = m1 + 1;
    }

    if (m1 < 10) {
      m1 = "0" + m1;
    }

    if (d1 < 10) {
        d1 = "0" + d1;

    }
      return y1 + "-" + m1 + "-" + d1;

  }


  // document.write("오늘 날짜 : " + (new Date().toString() + "<br>"));
  // document.write("오늘 요일 : " + (new Date().getDay() + "<br>"));
  // document.write("평일 5일 이후 날짜 : " + (dateAdd(1) + "<br>"));
  // document.date.date1.valueOf(dateAdd(1));

  if (new Date().getDay() == 0 || new Date().getDay() == 6 ) {
    for(var i = 1; i < 6; i++) {
      var dd = "date" + (i);
        document.getElementById(dd).innerHTML = dateAdd(i);
        document.getElementById(dd).value = dateAdd(i);
      }
  } else {
    for(var i = 0; i < 5; i++) {
      var dd = "date" + (i+1);
      document.getElementById(dd).innerHTML = dateAdd(i);
      document.getElementById(dd).value = dateAdd(i);
    }
  }

  // var yesterday = new Date(new Date().setDate(new Date().getDate() - 1));
  // document.write("어제 날짜 : " + (yesterday.toString() + "<br>"));



</script>

<!-- 예약 시간 ajax -->

<script>
  function dateFormat(date) {
    let month = date.getMonth() + 1;
    let day = date.getDate();
    let hour = date.getHours();
    let minute = date.getMinutes();
    let second = date.getSeconds();

    month = month >= 10 ? month : '0' + month;
    day = day >= 10 ? day : '0' + day;
    hour = hour >= 10 ? hour : '0' + hour;
    minute = minute >= 10 ? minute : '0' + minute;
    second = second >= 10 ? second : '0' + second;

    return date.getFullYear() + '-' + month + '-' + day + ' ' + hour + ':' + minute + ':' + second;
  }

  $("#time").prop("disabled",true);

  function typeFn() {
    var selectedDate = $("select[name=selectDate] > option:selected").val();
    var storeIdx2 = $("#storeIdx").val();
    $("select option[id='time1']").prop("disabled",false);
    $("select option[id='time2']").prop("disabled",false);
    $("select option[id='time3']").prop("disabled",false);
    $("select option[id='time4']").prop("disabled",false);
    $("select option[id='time5']").prop("disabled",false);
    $("select option[id='time6']").prop("disabled",false);
    $("select option[id='time7']").prop("disabled",false);


    if (selectedDate.length > 1) {
      $("#time").prop("disabled",false);

    }


    console.log(selectedDate);

    //var selectedTime = $("select[name=time] > option:selected").val();


    $.ajax({
      url: "/booking/insertAjax.do",
      type: "POST",
      data: { storeIdx: storeIdx2,
        selectedDate: selectedDate },
      contextType: "application/json; charset=UTF-8",
      dataType : "json",
      async: false,
      success: function(data){
        console.log('통신결과 : ' + data.status);
        let today = new Date();

        console.log(today);
        console.log(dateFormat(today));

        var todayDate = dateFormat(today).split(' ')[0];
        var nowTime = dateFormat(today).split(' ')[1];

        console.log(dateFormat(today).split(' ')[0]);
        console.log(dateFormat(today).split(' ')[1]);

        console.log(todayDate + ' ' + nowTime);

        if (selectedDate == todayDate) {

          var hour = nowTime.split(':')[0];
          var minute = nowTime.split(':')[1];
          if (hour >= 11 && minute >= 30) {
            $("select option[id='time1']").prop("disabled", true);
            $("select option[id='time2']").prop("disabled", true);
          }
          if (hour >= 12 && minute <= 30) {
            $("select option[id='time1']").prop("disabled", true);
            $("select option[id='time2']").prop("disabled", true);
            $("select option[id='time3']").prop("disabled", true);
            $("select option[id='time4']").prop("disabled", true);
          }
          if (hour >= 12 && minute > 30) {
            $("select option[id='time1']").prop("disabled", true);
            $("select option[id='time2']").prop("disabled", true);
            $("select option[id='time3']").prop("disabled", true);
            $("select option[id='time4']").prop("disabled", true);
            $("select option[id='time5']").prop("disabled", true);
            $("select option[id='time6']").prop("disabled", true);
          }
          if (hour >= 13) {
            $("select option[id='time1']").prop("disabled", true);
            $("select option[id='time2']").prop("disabled", true);
            $("select option[id='time3']").prop("disabled", true);
            $("select option[id='time4']").prop("disabled", true);
            $("select option[id='time5']").prop("disabled", true);
            $("select option[id='time6']").prop("disabled", true);
            $("select option[id='time7']").prop("disabled", true);

          }
        }

        if (data.a == 6 ) {
          $("select option[id='time1']").prop("disabled",true);
        }
        if (data.b == 6 ) {
          $("select option[id='time2']").prop("disabled",true);
        }
        if (data.c == 6 ) {
          $("select option[id='time3']").prop("disabled",true);
        }
        if (data.d == 6 ) {
          $("select option[id='time4']").prop("disabled",true);
        }
        if (data.e == 6 ) {
          $("select option[id='time5']").prop("disabled",true);
        }
        if (data.f == 6 ) {
          $("select option[id='time6']").prop("disabled",true);
        }
        if (data.g == 6 ) {
          $("select option[id='time7']").prop("disabled",true);
        }


        //console.log(data.message);
        //location.href="/booking/bookingInsert?storeIdx=" + storeIdx2;
      },
      error: function(error){
        console.log(error.responseText);
        alert("신규등록 error");  }
    });

  }
  $("#time").prop("disabled",true);
  function typeTime() {
    var selectedDate = $("select[name=selectDate] > option:selected").val();
    var selectedTime = $("select[name=time] > option:selected").val();
    var storeIdx2 = $("#storeIdx").val();
    if (selectedTime.length > 1) {
      $("#tableNo").prop("disabled",false);
    }

    $.ajax({
      url: "/booking/insert_Ajax.do",
      type: "POST",
      data: { storeIdx: storeIdx2,
              selectedDate: selectedDate,
              selectedTime : selectedTime },
      contextType: "application/json; charset=UTF-8",
      dataType : "json",
      async: false,
      success: function(data){
        console.log('통신결과 : ' + data.status);
        if (data.a >= 2 ) {
          $("select option[id='table1']").prop("disabled",true);
        }
        if (data.b >= 2 ) {
          $("select option[id='table2']").prop("disabled",true);
        }
        if (data.c >= 2 ) {
          $("select option[id='table3']").prop("disabled",true);
        }
        console.log(data.message);
        //location.href="/booking/bookingInsert?storeIdx=" + storeIdx2;
      },
      error: function(error){
        console.log(error.responseText);
        alert("신규등록 error");  }
    });
  }
</script>


<th:block th:replace="header_footer/footer :: footerFragment"></th:block>
</body>
</html>