<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tastemate.mapper.BookmarkMapper">
  <resultMap id="bookmarkjoin" type="BookmarkVO">
    <id column="BOOKMARK_IDX" property="bookmarkIdx"/>
    <result column="MEMBER_IDX" property="memberIdx"/>
    <result column="STORE_IDX" property="storeIdx"/>
    <result column="MEMBER_NAME" property="memberName"/>
    <result column="MEMBER_ID" property="memberId"/>
    <result column="STORE_NAME" property="storeName"/>
    <association property="storeVO" javaType="StoreVO">
      <result property="storeIdx" column="STORE_IDX"/>
    </association>
  </resultMap>

    <select id="bookmarkList" resultMap="bookmarkjoin">
        SELECT B.BOOKMARK_IDX,
               B.MEMBER_IDX,
               B.STORE_IDX,
               B.MEMBER_NAME,
               B.MEMBER_ID,
               B.STORE_NAME,
               S.CATEGORY1,
               S.STORE_ADDRESS,
               S.STORE_LATI,
               S.STORE_LONGI,
               S.PHONE_NUMBER,
               S.STORE_COUNT
        FROM BOOKMARK B
                 INNER JOIN STORE S ON B.STORE_IDX = S.STORE_IDX
    </select>
</mapper>