<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tastemate.mapper.MemberMapper">


    <select id="member_getList" resultType="com.tastemate.domain.MemberVO">
        select * from member
    </select>
    <!-- 멤버 추가 -->
    <insert id="user_join" parameterType="com.tastemate.domain.MemberVO">
        INSERT INTO MEMBER(USER_IDX, USER_ID, USER_PWD, USER_NAME, USER_GENDER, USER_PHONE, USER_ADDRESS,
                           USER_CLASS, USER_LIKE_FOOD, USER_DATE, USER_LOGINTYPE, USER_STATUS, USER_PROFILE,
                           USER_ORI_PROFILE, USER_TYPE, USER_MBTI, USER_EMAIL, USER_BIRTH, USER_ADDRESS_SI, USER_ADDRESS_GU)
        VALUES ((SELECT NVL(MAX(USER_IDX), 0) + 1 FROM MEMBER),
            #{userId}, #{userPwd}, #{userName}, #{userGender}, #{userPhone}, #{userAddress},
            #{userClass}, #{userLikeFood}, SYSDATE, 1, 0, #{userProfile},
            null, 1, #{userMbti}, #{userEmail}, #{userBirth}, #{userAddressSi}, #{userAddressGu})
    </insert>

<!--    #{userAddressSi}, #{userAddressGu}-->

    <!-- 중복 ID 체크 -->
    <select id="checkId" resultType="integer">
        SELECT COUNT(USER_ID) as count FROM MEMBER WHERE USER_ID = #{userId}
    </select>

    <!-- 로그인(아이디) 체크 -->
    <select id="loginId" parameterType="String" resultType="com.tastemate.domain.MemberVO">
        SELECT * FROM MEMBER WHERE USER_ID = #{userId}
    </select>

    <select id="check" parameterType="String" resultType="com.tastemate.domain.MemberVO">
        SELECT * FROM MEMBER WHERE USER_ID = #{userId} AND USER_PWD = #{userPwd};
    </select>

    <!-- 개인정보 수정 -->
    <update id="userModify" parameterType="com.tastemate.domain.MemberVO">
        UPDATE MEMBER
        SET USER_NAME = #{userName},
            USER_EMAIL = #{userEmail},
            USER_PHONE = #{userPhone},
            USER_LIKE_FOOD = #{userLikeFood},
            USER_MBTI = #{userMbti},
            USER_ADDRESS = #{userAddress}
        WHERE USER_IDX = #{userIdx}
    </update>

    <update id="userStatus" parameterType="com.tastemate.domain.MemberVO">
        UPDATE MEMBER
        SET USER_STATUS = 1
        WHERE USER_IDX = #{userIdx}
    </update>

    <select id="findId" parameterType="String" resultType="com.tastemate.domain.MemberVO">
        SELECT * FROM MEMBER WHERE USER_EMAIL = #{userEmail}
    </select>

    <select id="userGet" parameterType="String" resultType="com.tastemate.domain.MemberVO">
        SELECT * FROM MEMBER WHERE USER_ID = #{userId} AND USER_EMAIL = #{userEmail}
    </select>

    <update id="resetPassword" parameterType="com.tastemate.domain.MemberVO" >
        UPDATE MEMBER SET USER_PWD = #{userPwd} WHERE USER_ID = #{userId} AND USER_EMAIL = #{userEmail}
    </update>
</mapper>